$mobile: "(max-width: 767px)";
$small: "(min-width: 768px) and (max-width: 991px)";
$minSmall: "min-width: 768px";
$medium: "(min-width: 992px) and (max-width:1199px)";
$minMedium: "(min-width: 991px)";
$maxMedium: "(max-width: 992px)";
$large: "(min-width: 1200px)";

$redColor: #de5445;
$greyColor: rgb(black, 0.5);

$mainMargin: 60px;
